  .btn-circle {
    outline: none;
    width: 3rem;
    height: 3rem;
    text-align: center;
    padding: 0.6rem 0;
    font-size: 1.2rem;
    line-height: 1.428571429;
    border-radius: 1.5rem;
    transition: transform 0.1s ease-in, color 0.3s ease-in;
    /* transform: scale(0.5);  */
  }
  
  .btn-circle:focus, .btn-circle.focus {
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  
  .btn-circle.btn-lg {
    width: 5rem;
    height: 5rem;
    padding: 1rem 1.6rem;
    font-size: 1.8rem;
    line-height: 1.33;
    border-radius: 2.5rem;
    /* transform: scale(0.5);  */
  }
  
  .btn-circle.btn-xl {
    width: 7rem;
    height: 7rem;
    padding: 1rem 1.6rem;
    font-size: 2.4rem;
    line-height: 1.33;
    border-radius: 3.5rem;
    /* transform: scale(0.5);  */
  }

  .btn-circle:hover {
    transform: scale(1.2);
    color: var(--main-color-btn-hover);
  }
  
  .btn-circle.active {
    transform: scale(1.2);
    color: var(--main-color-white);
    background-color: var(--main-bg-btn);
  }
  
  .btn-circle.active:hover, .actions-cell .btn-circle:hover {
    transform: scale(1.2);
    color: var(--main-color-btn-active);
  }
  
  .btn-main{
    color: var(--main-color-white);
    background-color: var(--main-bg-btn);
  }
  
  .btn-text{
    /* display: inline-block; */
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top:-1.2em;
    font-weight: 200;
    left: 50%;
    transform: translateX(-50%);
    animation:grow .4s ease-in;
  }

  .action-icon{
    opacity: 0;
    z-index: 1;
    transform: translateY(2rem);
    transition: opacity 500ms ease-in, transform 500ms ease-in;
  }
